h3 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.89);
}
body {
    background-color: rgb(45, 45, 119) ;
}
h1,address {
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
}
h2 {
    color: rgb(63, 252, 63);
    font-size: 22px;
}
address {
    color: rgba(255, 255, 255, 0.89);
}
p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.89);  
}

