
h1    {
    color : green;
   font-size: 56px;
 }
#hi   {
   color: aqua;
   font-size: 20px;
 }
#I    {
   color: yellow;
   font-size: 20px;
 } 
body  {
   background-color: violet;
 }